<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %>!</p>
  </body>
  <body>
    <h1>Team Members and Their Roles</h1>
    <p>Tina Cao: Team Lead, Front-end Developer, and Data Engineer</p>
    <p>Hassan Alsawadi: </p>
    <p>Shafiullah Hashimi: </p>
    <p>Dev Patel: </p>
    <p>Gopu Raju: </p>
  </body>

  <body>
    <h1>Project Description</h1>
    <p>
      Mini-grid customers pay for electricity on a per-kWh basis, similar to how folks in the US pay their utility providers for energy. 
      I have a theory that, unlike customers in developed economies, mini-grid customers are highly sensitive to the per-unit price (tariff) of electricity. 
      Renewvia has collected years of consumption data across several geographies and tariffs, including for mini-grids in which the tariff has evolved with time. 
      A sharp data scientist could make sense of this data to provide insights on how to set tariff to maximize revenue, what factors affect the optimal price, 
      and potentially even design and run an experiment in which we change the tariffs for some of our mini-grid customers and observe what happens to demand. 
      Very little research has been published in this space, and Renewvia would be willing to sponsor a publication in a peer-reviewed journal, should the results prove interesting.
    </p>
  </body>

  <body>
    <h1>Goals</h1>
    <p>TBD</p>
  </body>
</html>
