<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="description" content="Solar-Mini-Grid: Price Elasticity Project Website: Team Members, Project Goals, and an overview of mini-grid customers' electricity usage and pricing insights.">
<title>Solar Mini Grid</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
  height: 100%;
  line-height: 1.8;
}

/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("/images/solar.jpeg");
  min-height: 100%;
}

.w3-bar .w3-button {
  padding: 16px;
}

.w3-card {
  min-height: 300px;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.w3-container {
  flex-grow: 1;
  padding: 20px;
}
</style>
</head>
<body>

  

<!-- Navbar (sit on top) 
<div class="w3-top">
  <div class="w3-bar w3-white w3-card" id="myNavbar">
    <a href="#home" class="w3-bar-item w3-button w3-wide">HOME</a>
     Right-sided navbar links 
    <div class="w3-right w3-hide-small">
      <a href="#about" class="w3-bar-item w3-button">ABOUT</a>
      <a href="#team" class="w3-bar-item w3-button"><i class="fa fa-user"></i> TEAM</a>
      <a href="#work" class="w3-bar-item w3-button"><i class="fa fa-th"></i> WORK</a>
    </div>
    <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
      <i class="fa fa-bars"></i>
    </a> 
  </div>
</div> -->

<!-- Header with full-height image -->
<header class="bgimg-1 w3-display-container w3-grayscale-min" id="home">
  <div class="w3-display-left w3-text-white" style="padding:48px">
    <span class="w3-jumbo w3-hide-small">Solar Mini Grid: Price Elasticity</span><br>
    <span class="w3-xxlarge w3-hide-large w3-hide-medium">Solar Mini Grid: Price Elasticity</span><br>
    <span class="w3-large">Optimizing Renewvia's Tariff Price Point to Increase Revenue.</span>
    <p><a href="#about" class="w3-button w3-white w3-padding-large w3-large w3-margin-top w3-opacity w3-hover-opacity-off">Learn more and start today</a></p>
  </div> 
</header>

<!-- About Section -->
<div class="w3-container" style="padding:128px 16px" id="about">
  <h3 class="w3-center">ABOUT US</h3>
  <p class="w3-center w3-large">Key features of our research</p>
  <div class="w3-row-padding w3-center" style="margin-top:64px">
    <div class="w3-quarter">
      <i class="fa fa-desktop w3-margin-bottom w3-jumbo w3-center"></i>
      <p class="w3-large">Goal</p>
      <p>Our goal is to have at least one Internal Review Board (IRB) ready experiment to advise an ideal tariff price point to increase revenue.</p>
    </div>
    <div class="w3-quarter">
      <i class="fa fa-heart w3-margin-bottom w3-jumbo"></i>
      <p class="w3-large">Description</p>
      <p>Renewvia is a solar mini grid company seeking to optimize their tariff price point in order to increase revenue.</p>
    </div>
    <div class="w3-quarter">
      <i class="fa fa-diamond w3-margin-bottom w3-jumbo"></i>
      <p class="w3-large">Research</p>
      <p>We use Jupyter Notebook and Dbeaver to perform Data Analysis.</p>
    </div>
    <div class="w3-quarter">
      <i class="fa fa-cog w3-margin-bottom w3-jumbo"></i>
      <p class="w3-large">Background</p>
      <p>Our team has a diverse set of technological skill sets to contribute to the research and development.</p>
    </div>
  </div>
</div>

<!-- Promo Section - "Research" -->
<div class="w3-container w3-light-grey" style="padding:128px 16px">
  <div class="w3-row-padding">
    <div class="w3-col m6">
      <h3>Research Progress</h3>
      <p>We have generated several plots to optimize tariff price <br> and vizualize energy usage across Kenya and Nigeria.</p>
      <p>LightHouse: Performance: 99; Accessibility: 100; Best Practices: 100; SEO: 100</p>
      <p><a href="#work" class="w3-button w3-black"><i class="fa fa-th"> </i> View Our Works</a></p>
      <a href="https://forms.office.com/r/KXpqvcfPYK">Click here to complete our SURVEY <br></a>
      <a href="https://1drv.ms/p/s!AuKoMj0uD4yRgQArggQL5Ky_cSLd?e=b9tbQB">Click here to view our POWER POINT PRESENTATION <br></a>
      <a href="https://youtu.be/SMXcaQ2up5s">Click here to view our VIDEO PRESENTATION</a>
    </div>
    <!--<div class="w3-col m6">
      <img class="w3-image w3-round-large" src="/w3images/phone_buildings.jpg" alt="Buildings" width="700" height="394">
    </div>-->
  </div>
</div>

<!-- Team Section -->
<div class="w3-container" style="padding:128px 16px" id="team">
  <h3 class="w3-center">THE TEAM</h3>
  <p class="w3-center w3-large">The ones behind the research</p>
  <div class="w3-row-padding w3-grayscale" style="margin-top:64px">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-card">
        <div class="w3-container">
          <h3>Tina Cao</h3>
          <p class="w3-opacity">Project Lead and Front-End Developer</p>
          <p>Coordinate activities between the technical team and stakeholders, built and hosted our website on the Azure portal, and supported the data analysis.</p>
        </div>
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-card">
        <div class="w3-container">
          <h3>Hassan Alsawadi</h3>
          <p class="w3-opacity">Data Scientist</p>
          <p>Actively supporting the processing and analysis of the client’s data, supported outreach to potential collaborators from local universities in Kenya 
            by conducting a thorough review of the relevant literature, and supported the template integration development.</p>
        </div>
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-card">
        <div class="w3-container">
          <h3>Shafiullah Hashimi</h3>
          <p class="w3-opacity">Data Scientist</p>
          <p>Researched mini-grid tariffs and political economy factors affecting development in Kenya, 
            engaged with clients to clarify project requirements, timelines, and expectations, 
            and cnducted an in-depth analysis of Jupyter Notebook files.
          </p>
        </div>
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-card">
        <div class="w3-container">
          <h3>Dev Patel</h3>
          <p class="w3-opacity">Data Scientist</p>
          <p>Analyzed the previous Jupyter Notebook Analysis, 
            worked on the inital part of our own Jupyter Notebook Analysis from the datasets given to us from Renewvia, 
            and researched and found other experiments relevant to Solar Mini Grids and the effects of tariffs. </p>
        </div>
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-card">
        <div class="w3-container">
          <h3>Gopu Raju</h3>
          <p class="w3-opacity">Data Scientist</p>
          <p>Explored the project website creation with Vercel and Dreamhost, 
            analyzed the client's data tables and Jupyter notebook for relevant informations related to the project, 
            and analyzed the client's business model and operations which are relevant to the project </p>
        </div>
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-card">
        <div class="w3-container">
          <h3>Nicholas Selby</h3>
          <p class="w3-opacity">Renewvia Vp of Technology</p>
          <p>Principal Renewvia Stakeholder</p>
        </div>
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-card">
        <div class="w3-container">
          <h3>Cohen Ang'u</h3>
          <p class="w3-opacity">University of Nairobi Professor</p>
          <p>Leading the application submission for a research license through the Kenyan National Commission for Science, Technology, and Innovation (NACOSTI).</p>
        </div>
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-card">
        <div class="w3-container">
          <h3>Yusef Hashem</h3>
          <p class="w3-opacity">University of Nairobi Graduate Student</p>
          <p>Supporting the Research and Development using Data Analysis.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Work Section -->
  <div class="w3-container" style="padding:128px 16px 64px 16px; text-align:center;" id="work">
    <h3 class="w3-center">OUR WORK</h3>
    <p class="w3-center w3-large">Data Analysis Performed to Date:</p>
  
    <div class="w3-row-padding" style="margin-top:64px; display: flex; justify-content: center; gap: 10px;">
      <div class="w3-col l3 m6">
        <img src="/images/Table.png" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Graph">
      </div>
      <div class="w3-col l3 m6">
        <img src="/images/graph.png" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Graph">
      </div>
      <div class="w3-col l3 m6">
        <img src="/images/graph 2.png" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Graph">
      </div>
    </div>
  </div>
  
  

<!-- Modal for full size images on click-->
<div id="modal01" class="w3-modal w3-black" onclick="this.style.display='none'">
  <span class="w3-button w3-xxlarge w3-black w3-padding-large w3-display-topright" title="Close Modal Image">×</span>
  <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
    <img id="img01" class="w3-image">
    <p id="caption" class="w3-opacity w3-large"></p>
  </div>
</div>

<!-- Footer -->
<footer class="w3-center w3-black w3-padding-64">
  <a href="#home" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
</footer>
 
<script>
// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}


// Toggle between showing and hiding the sidebar when clicking the menu icon
var mySidebar = document.getElementById("mySidebar");

function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
  } else {
    mySidebar.style.display = 'block';
  }
}

// Close the sidebar with the close button
function w3_close() {
    mySidebar.style.display = "none";
}
</script>

</body>
</html>

