<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Solar-Mini-Grid: Price Elasticity Project Website: Team Members, Project Goals, and an overview of mini-grid customers' electricity usage and pricing insights.">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %>: Price-Elasticity!</p>

    <h1>Team Members and Their Roles</h1>
    <p>Tina Cao: Project Manager, Cloud Architect, Front-End Developer, and Data Scientist</p>
    <p>Hassan Alsawadi: Cloud Architect, Front-End Developer and Data Scientist</p>
    <p>Shafiullah Hashimi: Cloud Architect, Front-End Developer and Data Scientist</p>
    <p>Dev Patel: Cloud Architect, Front-End Developer and Data Scientist</p>
    <p>Gopu Raju: Cloud Architect, Front-End Developer and Data Scientist </p>

    <h1>Project Description</h1>
    <p>
      Mini-grid customers pay for electricity on a per-kWh basis, similar to how folks in the US pay their utility providers for energy. 
      I have a theory that, unlike customers in developed economies, mini-grid customers are highly sensitive to the per-unit price (tariff) of electricity. 
      Renewvia has collected years of consumption data across several geographies and tariffs, including for mini-grids in which the tariff has evolved with time. 
      A sharp data scientist could make sense of this data to provide insights on how to set tariffs to maximize revenue, what factors affect the optimal price, 
      and potentially even design and run an experiment in which we change the tariffs for some of our mini-grid customers and observe what happens to demand. 
      Very little research has been published in this space, and Renewvia would be willing to sponsor a publication in a peer-reviewed journal, should the results prove interesting.
    </p>

    <h1>Goal</h1>
    <p>Our goal is to have at least one Internal Review Board (IRB) approved experiment based upon our findings surrounding the patterns we observe between revenue and optimal tariffs
       within Renewvia's data. From there, we can advise an ideal tariff price point to increase revenue. 
    </p>

    <h1>Light House Scores</h1>
      <p>Performance: 100 </p>
      <p>Best Practices: 100 </p>
      <p>SEO: 100</p>
      <p>Accessibility: 100 </p>
      <p>Average for All Four Categories: 100% </p>

  </body>
</html>
