<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Solar-Mini-Grid: Price Elasticity Project Website: Team Members, Project Goals, and an overview of mini-grid customers' electricity usage and pricing insights.">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %>: Price-Elasticity!</p>

    <h1>Team Members, Roles, and Contributions</h1>
    <p>Tina Cao: Project Manager, Cloud Architect, Front-End Developer, and Data Scientist</p>
    <ul>
      <li>Created and deployed our website on Azure</li>
      <li>Supported Data Analysis on the Renewvia tables</li>
      <li>Coordinated activities and meetings across the technical team and the stakeholders</li>
    </ul>
    <p>Hassan Alsawadi: Cloud Architect, Front-End Developer and Data Scientist</p>
    <ul>
      <li>Outreach for Research Collaborators: I initiated outreach to potential collaborators from local universities in Kenya by conducting a thorough review of the relevant literature. <br> This led to securing a partnership with Dr. Ang'u, a lecturer at the University of Nairobi, who has agreed to collaborate with our team.</li>
      <li>Data Processing and Analysis: I am actively supporting the processing and analysis of the client’s data.  This is an ongoing effort, and we are making steady progress.</li>
      <li>Website Enhancement: I have been working to improve the aesthetics and user experience of the team’s website by incorporating a new design template, enhancing its overall look and feel.</li>
    </ul>
    <p>Shafiullah Hashimi: Cloud Architect, Front-End Developer and Data Scientist</p>
    <ul>
      <li>Conducted an in-depth analysis of Jupyter Notebook files, collaborating with team members to understand key functions and objectives.  <br>Researched and recommended advanced tools like Python libraries (Pandas, SKlearn) to optimize data processing, prediction, and visualization for mini-grid projects.</li>
      <li>Researched mini-grid tariffs and political economy factors affecting development in Kenya. <br> Contacted local universities in Kenya and other regions to explore potential collaborations on mini-grid projects. This initiative facilitated academic partnerships and expanded project research capabilities.</li>
      <li>Engaged with clients to clarify project requirements, timelines, and expectations.<br>  Delivered a project presentation, synthesizing research findings and technical analyses to ensure alignment with client objectives, further advancing project milestones.</li>
    </ul>
    <p>Dev Patel: Cloud Architect, Front-End Developer and Data Scientist</p>
    <ul>
      <li>Analyzed the previous Jupyter Notebook Analysis</li>
      <li>Worked on the inital part of our own Jupyter Notebook Analysis from the datasets given to us from Renewvia</li>
      <li>Researched and found other experiments that have been done that have to do with Solar Mini Grids and the effects of tariffs.</li>
    </ul>
    <p>Gopu Raju: Cloud Architect, Front-End Developer and Data Scientist </p>
    <ul>
      <li>Explored the project website creation with Vercel and Dreamhost</li>
      <li>Analyzed the client's data tables and Jupyter notebook for relevant informations related to the project</li>
      <li>Analyzed the client's business model and operations which are relevant to the project and prepared the questions for client's meetings</li>
    </ul>

    <h1>Survey</h1>
    <a href="https://forms.office.com/r/KXpqvcfPYK">Click here to complete our Survey</a>

    <h1>Project Description</h1>
    <p>
      Mini-grid customers pay for electricity on a per-kWh basis, similar to how folks in the US pay their utility providers for energy. <br>
      I have a theory that, unlike customers in developed economies, mini-grid customers are highly sensitive to the per-unit price (tariff) of electricity. <br>
      Renewvia has collected years of consumption data across several geographies and tariffs, including for mini-grids in which the tariff has evolved with time. <br>
      A sharp data scientist could make sense of this data to provide insights on how to set tariffs to maximize revenue, what factors affect the optimal price, 
      and potentially even design <br> and run an experiment in which we change the tariffs for some of our mini-grid customers and observe what happens to demand. <br>
      Very little research has been published in this space, and Renewvia would be willing to sponsor a publication in a peer-reviewed journal, should the results prove interesting.
    </p>

    <h1>Goal</h1>
    <p>Our goal is to have at least one Internal Review Board (IRB) ready experiment based upon our findings surrounding the patterns we observe between revenue <br> and optimal tariffs
       within Renewvia's data. From there, we can advise an ideal tariff price point to increase revenue. 
    </p>

  </body>
</html>
